projD/WebContent/payPod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="payPod" type="payPodType"/>
<xsd:complexType name="payPodType">
<xsd:sequence>
<xsd:element name="payment" type="xsd:double"/>
<xsd:element name="msg" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute use="required" name="status" type="xsd:boolean"/>
</xsd:complexType>
</xsd:schema>
